@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gold: #bb945b;
  --color-gold-dark: #8a6a3b;
  --color-sand: #e5dacc;
  --color-linen: #efe7db;
  --color-slate: #54595f;
  --color-steel-900: #272c30;
  --color-charcoal: #111111;
}
